# Copy this file to terraform.tfvars and fill values
aws_region   = "us-east-1"
environment  = "dev"
project_name = "secvault"

# ─── Database (CHANGE THESE!) ───
db_password = "YourSecurePassword123!"
db_username = "dbadmin"
db_name     = "secvault"